<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navigation">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CSYE 6225</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li th:if="!${flag}">
                        <a href="/signup">Signup</a>
                    </li>
                    <li th:if="!${flag}">
                        <a href="/login">Login</a>
                    </li>
                </ul>
                <div id="bar" th:if="${flag}" style="float: right">
                    <div id="pcicon" class="dropdown">
                        <a href="#" class="hvr-ripple-out"><img th:src="${imgAddr}" width="40px" length="40px" /></a>
                        <div class='drop dropdown-content'>
                            <a th:href="'user/'+${name}"><span>PROFILE</span></a>
                            <a href="/uploadimg"><span>Icon</span></a>
                            <a href="/deleteimg"><span>Initiate</span></a>
                            <a href="/s3upload"><span>attachment upload</span></a>
                        </div>
                    </div>
                    <a href="/logout" class="btn btn-primary btn-lg active" role="button">Logout</a>
                    <div id="nowDiv" style="color:#FFFFFF;margin: auto">time</div>
                </div>
                <div th:if="${flag}">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/resetpassword?">Reset password</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
</body>
</html>
